# Edytory i IDE
.vscode/
.vs/
*.user

# Build
bin/
obj/
*.dll
*.pdb

# Node/NPM
node_modules/
npm-debug.log

# Docker (zostaw pliki, które faktycznie używasz)
Dockerfile.debug
docker-compose.override.yml

# Git
.git/
.gitignore

# Pliki CI/CD, secrets
*.yaml
*.env
*.dbmdl

# Ignoruj inne niepotrzebne
LICENSE
README.md