[submodule "Common"]
	path = Common
	url = https://github.com/morderchai/Threadia-Common
[submodule "UserService"]
	path = UserService
	url = https://github.com/morderchai/Threadia-UserService
[submodule "PostService"]
	path = PostService
	url = https://github.com/morderchai/Threadia-PostService
